article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$lightPurple: #f4ebff;
$medPurple: #e4d3ff;
$darkPurple: #7d22f9;
$placeholderPurple: #c8adf0;

body {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: $lightPurple;
	font-family: 'Nunito Sans', sans-serif;
}

h2 {
	color: white;
	margin-bottom: 0;
}

p {
	color: $darkPurple;
}

.loginPage,
.logoutPage {
	flex-basis: 50%;
}
// FORM 

.formContainer {
	width: 250px;
	margin: 0 auto;
	margin-top: 160px;
	border-radius: 3px;
}

.loginForm {
	border-radius: 3px;
	box-shadow: rgba(black, 0.2) 0px 3px 15px 0px;
}

.formContainer input {
	width: 100%;
	margin: 0;
	padding: 16px;
	text-align: center;
	border: 0;
	font-weight: 800;
}

#username,
#password {
	color: $darkPurple;;
}

#password {
	border-top: solid 2px $medPurple;
}

#username {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

::placeholder {
	opacity: 1;
	color: $placeholderPurple;
	font-weight: 700;
}

.login {
	background-color: $darkPurple;
	color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute; 
	display: inline-block; 
}

.passwordError {
	border: solid 2px red !important;
}

.errorMessage {
	position: absolute;
	left: 0;
	width: 250px;
	margin: 30px auto;
	display: none;
	text-align: center;
	font-weight: 700;
	color: red;
}

// LOADING SPINNER

.formContainer {
	position: relative;
}

.loadingIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 16px;
	left: calc(50% - 10px);
	animation-name: spin;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: none;
	fill: white;
}

@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}

// CHECKBOX

.rememberContainer {
	margin: 100px auto;
	text-align: center;
}

.checkboxForm {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	display: none;
}

.checkboxLabel {
	color: $darkPurple;
	font-weight: 700;
}

.checkboxDisplay {
	border-radius: 3px;
	width: 20px;
	margin-right: 5px;
	height: 20px;
	border: solid 1.5px $darkPurple;
	display: flex;
	justify-content: center;
	align-items: center;
}

.innerBox {
	width: 12px;
	height: 12px;
	margin: 0 auto;
	border-radius: 1px;
	background-color: $darkPurple;
	display: none;
}

// SOCIALS 

.socialContainer {
	text-align: center;
}

.socialText {
	font-style: italic;
	font-weight: 600;
}

.socialButtons {
	display: flex;
	justify-content: center;
}

.socialButtons button {
	width: 30px;
	height: 30px;
	background-color: $medPurple;
	border: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	transition: all 0.3s;
	&:hover {
		background-color: $darkPurple;
		& > .socialLogo {
			fill: white;
		}
	}
}

.socialLogo {
	width: 14px;
	height: 14px;
	fill: $darkPurple;
	transition: all 0.3s;
}

// LOUTOUT PAGE 

.logoutPage {
	display: none;
	background-color: $darkPurple;
	text-align: center;
}

.logoutText {
	margin-top: 160px;
	margin-bottom: 200px;
	& p {
		color: white;
		// font-weight: 600;
		margin-top: 0;
	}
}

.logoutButton {
	background-color: white;
	border: 0;
	color: $darkPurple;
	padding: 8px;
	width: 170px;
	border-radius: 35px;
	box-shadow: rgba(black, 0.3) 0 0 13px 0px;
}

// SIDE PAGE 

.sidePage {
	flex-basis: 50%;
	background-color: $darkPurple;
}

.acmeContainer {
	text-align: center;
	margin-top: 160px;
}

.acmeLogoContainer {
	background-image: linear-gradient(to left bottom, $lightPurple, $darkPurple);
	width: 90px;
	height: 90px;
	border-radius: 7px;
	margin: 0 auto;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.acmeLogo {
	width: 84px;
	height: 84px;
	background-color: $lightPurple;
	padding: 10px;
	border-radius: 7px;
}